<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web1 template</title>
  <style>
  body {
    font-family: "Ubuntu Sans";
    background: #f7f7f7;
  }
  main {
    background: #f7f7f7;
  }  
  </style>
</head>
<body>
  
  <main>

    <h1>Title 1</h1>

    <p>Paragraph abc 1</p>
    <p>Paragraph def 2</p>
    <p>Paragraph ghi 3</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quaerat temporibus minus doloremque dolore impedit, ipsa labore ut laboriosam molestiae sed</p>
    
    <h2>Title A</h2>

    <ul>
      <li>Brasil</li>
      <li>Chile</li>
      <li>França</li>
      <li>Portugal</li>
      <li>Suécia</li>
    </ul>

    <p>Eaque deserunt voluptatum ipsum dolor sit amet, consectetur adipisicing elit. Sed numquam quaerat odio asperiores a ducimus optio voluptatem animi voluptates debitis ab quia? Ex, eum!</p>

    <h2>Title B</h2>

    <p>Quis quaerat temporibus minus doloremque dolore impedit, ipsa labore ut laboriosam molestiae sed numquam quaerat odio asperiores a ducimus optio voluptatem animi voluptates debitis ab quia? Ex, eum!</p>

  </main>

</body>
</html>